.date-selected-container {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.date-selected-box {
  display: flex;
  justify-content: space-between;
}

span {
  color: #225f6e;
}

.react-datepicker-wrapper {
  margin-top: 10px;
}

input {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid rgb(147,61,237);
  font: inherit;
  max-width: 200px;
}

@media screen and (max-width: 320px) {
  .date-selected-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
  }

  .initial-date-box {
    margin-bottom: 1em;
  }
}