.form-container {
  max-width: 50%;
  margin: 3% auto;
  background: rgb(243, 240, 236);
  border-radius: 10px;
  padding: 4%;
}

.inputs-container {
  margin: 6%;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-appointments {
  max-width: 100%;
  border-color: hsl(0, 0%, 80%);
  font-size: smaller;
}

label {
  margin: 2% 0;
  color: #0D241F;
}

.react-datepicker-wrapper {
  display: flex;
  margin-top: 0;
  color: rgb(109, 104, 104);
}

.css-1pahdxg-control {
  border-color: transparent !important;
}

.date-container {
  display: flex;
  width: 100%;
}

.input-date {
  /* padding: 4%; */
  border-color: hsl(0, 0%, 80%);
  font-size: smaller;
  border-radius: 10px;
  color: rgb(109, 104, 104);
}

.input-box {
  margin: 2% 0;
}

.button-register {
  display: flex;
  justify-content: center;
  margin-top: 13%;
}

.register {
  width: 200px;
}

.div-date {
  width: 50%;
}

@media screen and (max-width: 630px) {
  .form-container {
    max-width: 80%;
  }
  
  .inputs-container {
    margin: 10% 6%;
  }
  
  .date-container {
    flex-direction: column;
  }

  label {
    font-size: 80%;
  }

  .div-date {
    width: 100%;
  }
}

@media screen and (min-width: 631px) and (max-width: 1050px) {
  .form-container {
    max-width: 75%;
  }
  
  .inputs-container {
    margin: 10% 6%;
  }

  label {
    font-size: 80%;
  }
}