.table-container {
  margin-top: 2%;
  line-height: 1.8;
}

#table {
  width: 100%;
  display: table;
  font-size: 1em;
  margin: 4% auto;
}

thead {
  background: aliceblue;
  color: #0D241F;
}

tbody {
  background: ghostwhite;
  color: #363636;
}

td {
  text-align: center;
}

tr {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .table-container {
    display: none;
  }
}