.title {
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0 auto;
  color: #225f6e;
  padding: 35px;
  border-bottom: 1px solid rgb(147,61,237);
  width: 300px;
}

.report-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5%;
}

.span-result {
  color: #225f6e;
  font-size: 1.1em;
  font-weight: 500;
  margin: auto 4%;
}

.result-value {
  color: rgb(80, 78, 78);
  font-weight: 400;
}

.total-box {
  display: flex;
  align-items: center;
  width: 22%;
  margin: auto 5%;
}

.result {
  background: rgb(243, 240, 236);
}
