.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 75px;
  background: none #0D241F;
}

.header-logo {
  margin-left: 15%;
}

.nav-link {
  display: flex;
  width: 200px;
  justify-content: space-around;
  margin-right: 15%;
}

.link {
  text-decoration: none;
  transition: all 0.2s;
  color: #DCDCDC;
}

.link:hover {
  color: #3DC0A3;
}

.header-text {
  font-weight: 100;
  font-size: 150%;
  font-family: 'Dancing Script', cursive;
  color: #DCDCDC	;
}

@media screen and (max-width: 480px) {
  .header-logo {
    margin-left: 1em;
  }

  .header-text {
    font-weight: 100;
    font-size: 90%;
  }

  .link {
    font-size: 70%;
    margin-right: 0.5em;
  }

  .nav-link {
    width: auto;
    margin-right: 1em;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .header-text {
    font-weight: 100;
    font-size: 100%;
  }

  .link {
    font-size: 90%;
    margin-right: 0.5em;
  }
}
