.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  height: 75px;
}

.nav-link {
  display: flex;
  width: 200px;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  transition: all 0.2s;
  color: #225f6e;
  font-weight: bold;
}

.link:hover {
  color: rgb(85, 36, 85);
}
