.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 75px;
  background: none rgb(243, 240, 236);
}

.header-logo {
  margin-left: 15%;
}

.nav-link {
  display: flex;
  width: 200px;
  justify-content: space-around;
  margin-right: 15%;
}

.link {
  text-decoration: none;
  transition: all 0.2s;
  color: #225f6e;
  font-weight: bold;
}

.link:hover {
  color: rgb(85, 36, 85);
}

.header-text {
  font-weight: 500;
  font-family: 'Dancing Script', cursive;
  color: #225f6e;
}

@media screen and (max-width: 320px) {
  .header-logo {
    margin-left: 1em;
  }

  .header-text {
    font-weight: 100;
    font-size: 1em;
  }

  .link {
    font-size: 0.8em;
    margin-right: 0.5em;
  }

  .nav-link {
    width: auto;
    margin-right: 1em;
  }
}
