.button-report {
  padding: 10px;
  border-radius: 7px;
  border: 1px cyan;
  font: inherit;
  background-color: #1A4A40;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .button-report {
    margin: 3% 1%;
    font-size: 80%;
  }
}
